<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /orderform/new_cof/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /orderform/new_cof/index.html [L]
</IfModule>