<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /orderform/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /orderform/index.html [L]
</IfModule>